body{
    background-color: cyan;
    margin: auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
   
}
main{
    flex-direction: column;
    display: block;

}

label {
    display: block;
    padding: 1rem;
   

}

input{

    padding: 1rem;
    


}

#inputBtn{
    padding: 0.5rem 1rem;
  
  
}
#clrBtn{
    padding: 0.5rem 1rem;
    
}

